.row {
    --bs-gutter-x: 0;}
    hr{
        color: $color-dark;
        border: 2px;
    }
    @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
    #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
        background-color: $color-yellow;
        color: $color-white;
        z-index: 1;
      }
.my-slider{
    display: initial;
}