//font variable
//font variables
$primary-font:'Helvetica';
// font path 
$fonts-path: "../font" !default;

//color variables
$color-white:#fff;
$color-gray:#707070;
$color-black:#000;
$color-yellow:#FF9C00;
$color-blue:#072753;
$color-lightblue:#28384E;
$color-dark:#a9b2bc;
$color-lightdark:#717983;
$color-lightblack:#011021;
$color-darkblue:#1B498A;
$timing : 265ms;
$iconColor : #00B5F5;
$accent : #002A8F;
$bluefade : #0043E0;
$gradient : #00B5F5;