//font variable
//font variables
$primary-font:'Helvetica';
// font path 
$fonts-path: "../fonts" !default;

//color variables
$color-white:#fff;
$color-gray:#707070;
$color-black:#000;
$color-yellow:#FF9C00;
$color-blue:#072753;$color-lightblue:#28384E;
