.btn {
    background-color: $color-yellow;
    border-radius: 5px;
    color: $color-white;
&:hover{
    box-shadow: 0 0 3px 0 #3498db inset, 0px 0 10px 0px #3498db;
    color: $color-white;
transition: 0.5s all ease-in-out;
}
    &-say {
        padding: 13px 30px;
        font-size: 15px;
        font-size: 500;

        border: 0;
    }

    &-read {
        &:hover{
            &:hover{
                box-shadow: 0 0 3px 0 #3498db inset, 0px 0 10px 0px #3498db;
                color: $color-black;
            transition: 0.5s all ease-in-out;
            }
        }
    }

    &-submit {
        position: absolute;
        right: 3.6px;
        width: 28%;
        bottom: 4px;
        padding: 12px 0;
        &:hover{
            color: $color-black;
            border: 0;
        }
    }
    &-learn{
        font-size: 15px;
        font-weight: 500;
        color: $color-darkblue;
        display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(md) {
        justify-content: flex-start;
    }
    i{
        padding-left: 5px;
        font-size: 16px;
    }
    }
    &-learn-more {
        color: $color-yellow;
        justify-content: flex-start;
       @extend .btn-learn
    }
}