.owl-dots{
    display: none;
}
.owl-carousel{
    position: relative;
}
.owl-nav{
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: absolute;
    top: 47%;
    width: 100%;
}
.owl-next,.owl-prev{
    width: 55px;
    height: 55px;
    border-radius: 50% !important;
    border: 1px solid blue !important;
    text-align: center;
    span{
        font-size: 28px;
        color:$color-yellow ;
    }
}
.owl-theme .owl-nav [class*=owl-]:hover {
     color: $color-white; 
     background-color: $color-white;
}