.owl-dots {
    display: none;
}

.owl-carousel {
    position: relative;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: absolute;
    top:55%;
    width: 100%;
    @include media-breakpoint-up(sm) {
        top: 59%;
    }
    @include media-breakpoint-up(md) {
        justify-content: space-between;
        top: 92%;
        width: 100%;
        left: 0;
    }

    @include media-breakpoint-up(lg) {
        justify-content: center;
        top: 64%;
        width: 19%;
        left: 50%;
    }
}

.owl-next,
.owl-prev {
    width: 55px;
    height: 55px;
    border-radius: 50% !important;
    border: 1px solid blue !important;
    text-align: center;

    span {
        font-size: 28px;
        color: $color-yellow ;
    }
}

.owl-theme .owl-nav [class*=owl-]:hover {
    color: $color-white;
    background-color: $color-white;
}

.owl-theme .owl-nav [class*="owl-"] {
    margin: 15px;
}