.hero {

    // background-image: url('../images/header-bg.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: absolute;
    // top: 0;
    &__img {
        // width: 100%;
        // position: absolute;
        // top: 0;
        // z-index: -1;
        background-image: url('../images/header-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 40px;

        @include media-breakpoint-up(md) {
            padding-bottom: 110px;
        }
    }

    &__content {
        align-items: center;

        @include media-breakpoint-up(lg) {
            padding-top: 108px;

            div:first-child {
                padding: 0 70px;
            }
        }

        div h2 {
            color: $color-white;
            opacity: 1;
            font-size: 25px;
            font-weight: 700;
            margin: 25px 0;
        }

        div p {
            color: $color-white;
            opacity: 1;
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 25px; //45 for large
        }

        &-img {
            @include media-breakpoint-up(md) {
                width: 85%;
            }
        }
    }
}

//service block css
.servicess {
    &__heading {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        color: $color-blue;
        margin-top: 40px;
    }

    &__subheading {
        color: $color-lightblue;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        padding: 20px 10px;

    }
    &__card {
        width: 100%; //332px
        text-align: center;
        @include media-breakpoint-up(sm) {
            padding: 0 95px;
        }
        @include media-breakpoint-up(md) {
            text-align: start;
            padding: initial;
        }
        @include media-breakpoint-up(lg) {
          width: 90%;
        }
        img {
            width:fit-content;
        }

        h2 {
            font-size: 20px;

        }
    }
}

//hear css block start

.hear {
    padding: 30px 30px;
    text-align: center;

    @include media-breakpoint-up(md) {
        margin-top: 50px;
        text-align: start;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 170px;
    }
    &__wrapper {
        margin-bottom: 45px;
        @include media-breakpoint-up(md) {
            margin-bottom: 50px;
            &:last-child {
                flex-direction: row-reverse;
                div img{
                    width: 85%;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 200px;
        }

    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        color: $color-blue;
    }

    &__text {
        font-size: 15px;
        font-weight: 500;
        color: $color-lightblue;
    }

    &__form {
        display: flex;
        justify-content: center;
        position: relative;

        &-email {
            border-radius: 5px;
            padding: 16px 0;
            width: 100%;
            border: 1px solid #EDE5D9;
            background: #FAF9F7;
            padding-left: 20px;
            font-size: 16px;
            font-weight: 400;
            margin: 16px 0 30px 0;
            @include media-breakpoint-up(md){
                margin: 50px 0 30px 0;
            }
            
        }

    }
}

//project block css
.project {
    background-image: url('../images/latestproject-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;

    &__title {
        font-size: 40px;
        color: $color-white;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 60px;
        font-size: 15px;
        color: $color-white;
        font-weight: 400;
        text-align: center;
    }
    &__card{
        width: 100%;
        @include media-breakpoint-up(sm){
        width: 84%;}
    }
}

//profile block
.profile {
    text-align: center;
    margin-top: 45px;
    @include media-breakpoint-up(md) {
        text-align: start;
        margin-top: 120px;
    }

    &__content {
        padding-left: 30px;
        @include media-breakpoint-up(md){
            padding:0;
        }
    }

    &__img {
        width: initial !important;
        display: initial !important;

        @include media-breakpoint-up(md) {
            width: 100% !important;
           
        }

        @include media-breakpoint-up(lg) {
            width: 473px !important;
        }
    }

    &__title {
        font-size: 20px;
        color: $color-blue;
        font-weight: 500;
        margin: 15px 0;
    }

    &__subtitle {
        font-size: 15px;
        color: $color-blue;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 17px;
        color: $color-blue;
        font-weight: 400;
    }

    &__logo {
        padding: 20px 0;

        @include media-breakpoint-up(sm) {
            padding: 50px 0;
        }

        @include media-breakpoint-up(md) {
            padding: 110px 0;
        }

        img {
            width: 25%;
            margin-right: 22px;
        }
    }
}